*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar{
    background-color: white;
}
.navbar-brand{
    font-size: 2rem;
    color:black;
    font-family: "Yuji Mai", serif;
}
.nav-link{
    margin-right:10px;
    margin-left: 10px;
    color:black;
    text-transform: uppercase;
}
#main{
    background: url(image/MAIN1.png) ;
    width:100%;
    padding-top: 150px;
   
    background-size: 100% ;
}
.title-text0{
    font-size: 4rem;
    font-weight: 700;
}
.title-text1{
    color:rgb(255, 72, 102);
}
.title-text2{
    font-size: 1rem;
    color: gray;
}
.title-text2:hover {
    color: #555; 
    transform: scale(1.05); 
}

.new .img-luid:hover {
    transform: scale(1.1); 
    opacity: 0.8; 
}

/* about */
.heading{
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    margin:2rem 0;
    background: pink;
}
.about .row .photo-container{
    flex: 1 1 40rem;
    position:relative;
    margin: 0 auto;
}

.about .row .content{
    flex: 1 1 35rem;
}
.photo-container img {
    transition: transform 0.3s ease;
}
.photo-container img:hover {
    transform: scale(1.05); /* Membesarkan gambar sedikit saat dihover */
}
.content h3 {
    transition: color 0.3s ease-in-out;
}
.content h3:hover {
    color:pink; /* Ubah warna teks saat hover */
}
.content p {
    transition: color 0.3s ease-in-out, transform 0.3s ease;
}
.content p:hover {
    color: #555; /* Warna teks berubah */
    transform: translateX(5px); /* Efek geser ke kanan */
}
/* akhir about */
/* products */

.tag{
    position:absolute;
    top:1rem; left:1rem;
    padding:.7rem 1 rem;
    font-size:1rem;
    color:pink;
    background-color: white;
}
.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}
/* akhir products */
